


<nav class="navbar navbar-dark bg-dark">
  <h1 style="text-align: center; font-style: oblique; color: white;">Github Search</h1>


</nav>

<nav class="navbar navbar-light bg-light">

    <input class="form-control my-sm-0"  type="search"  #inputvar placeholder="Search" aria-label="Search">
    <!-- <button (click)="onClick(inputvar.value)" id="button3">SEARCH</button> -->
    
<br>
    

</nav>
<div style="text-align: center;margin: auto;"><button type="button" class="btn btn-secondary btn-md " (click)="onClick(inputvar.value)">Search</button></div>

<br>





<div id="div3" style="color: black;" *ngFor="let items of showpost | 
paginate: { 
  itemsPerPage:10,
  currentPage:page ,
  totalItems:totalLength}">

<div class="card text-black bg-light mb-3" style="max-width: 100%; text-shadow: whitesmoke;text-align:center;">
  <div class="card-header">  {{items.name}}</div>
  <div class="card-body">
    <h5 class="card-title"> {{items.node_id}}</h5>
    <p class="card-text">{{items.url}}</p>
  </div>
</div>
</div>
<pagination-controls style="float: right;" (pageChange)="page= $event"></pagination-controls>

<!-- {{items.id}}  -->